
   
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  
}



/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.greenColor {
  color: green !important;
}
.redColor {
  color: red !important;
}